.hex {
	-fx-fill: white;
	-fx-stroke: black;
}

.hex-active {
	-fx-fill: blue;
}

.teste{
	-fx-background-image: url("/ifce/ppd/images/1.png");
	-fx-background-size: 20 20;
}

.hex-highlight {
	-fx-fill: gold;
}

.chat-text-area {
	-fx-pref-height: 500px;
}

.no-focus-effect {
	-fx-focus-color: transparent; 
	-fx-faint-focus-color: transparent;
}
