.hex {
	-fx-fill: white;
	-fx-stroke: black;
}

.hex-active-blue {
	-fx-fill: rgb(0, 102, 255);
	-fx-stroke: black;
}

.hex-active-red {
	-fx-fill: rgb(255, 97, 97);
	-fx-stroke: black;
}

.hex-highlight {
	-fx-fill: gold;
}

.hex-blue {
	-fx-fill: blue;
	-fx-stroke: black;
}

.hex-red {
	-fx-fill: red;
	-fx-stroke: black;
}

.hex-green {
	-fx-fill: green;
	-fx-stroke: black;
}

.hex-pink {
	-fx-fill: pink;
	-fx-stroke: black;
}

.hex-brown {
	-fx-fill: brown;
	-fx-stroke: black;
}

.hex-indigo {
	-fx-fill: indigo;
	-fx-stroke: black;
}

.chat-text-area {
	-fx-pref-height: 500px;
}

.chat-text-input {
	-fx-pref-height: 70px;
	-fx-pref-width: 370px;
}

.chat-send-button {
	-fx-pref-height: 70px;	
	-fx-pref-width: 30px;
}

.no-focus-effect {
	-fx-focus-color: transparent; 
	-fx-faint-focus-color: transparent;
}
